/.settings/*.prefs
/*.project
/*.classpath
/target/classes/META-INF
/target/classes/br/com/inteligenciaartificial/algoritmos/*.class
/target/classes/br/com/inteligenciaartificial/algoritmos/neural/*.class
/target/test-classes/br/com/inteligenciaartificial/algoritmos/*.class
